<div id="container" class="subchild-level-1">
	<h2>Main Gasto</h2>
	<div class="navbar navbar-default navbar-main-gasto" role="navigation">
        <div class="container">
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a ui-sref=".list">List</a></li>
              <li><a ui-sref=".new">New</a></li>
              <li><a ui-sref=".edit">Edit</a></li>
            </ul>
          </div>
        </div>
    </div>
	<div ui-view></div>
</div>